body{


    background-color: #EBEBE0;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Tahoma, Georfia, serif;
    color: #00001A;

}

a:link {
    color: #00001A;
}

a:visited {
    color: #00001A;
}

a:hover {
    color: #00001A;
}

div{
    background-color: #FDFDFC;
}

input[type="submit"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

input[type="button"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

input[type="select"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

input[type="password"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

input[type="name"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

select {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #FDFDFC;
}

btn btn-info {
    color: white;
    background-color: #FDFDFC;  
}
div.wraper{
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 50px;
    border-radius: 10px;
}
.wraper table{
    width: 100%;

}
table th, table td
{
    padding: 5px 10px;
}